<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="prod">
        <environment id="local">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/rest-data?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
                <property name="poolMaximumActiveConnections" value="10"/>
                <property name="poolPingQuery" value="select 1 "/>
                <property name="poolTimeToWait" value="5000"/>
                <property name="poolPingEnabled" value="true"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/restdata/RestBusiCircleBeanMapper.xml"/>
        <mapper resource="mybatis/restdata/RestBusiCircleShopRelBeanMapper.xml"/>
        <mapper resource="mybatis/restdata/RestCategoryBeanMapper.xml"/>
        <mapper resource="mybatis/restdata/RestCityBeanMapper.xml"/>
        <mapper resource="mybatis/restdata/RestShopBeanMapper.xml"/>
        <mapper resource="mybatis/restdata/WmMeituanDiscountMapper.xml"/>
        <mapper resource="mybatis/restdata/WmMeituanFoodSpuMapper.xml"/>
        <mapper resource="mybatis/restdata/WmMeituanFoodSpuTagMapper.xml"/>
        <mapper resource="mybatis/restdata/WmMeituanPoiMapper.xml"/>
        <mapper resource="mybatis/restdata/WmMeituanShopMapper.xml"/>
        <mapper resource="mybatis/restdata/WmMeituanSkuMapper.xml"/>

    </mappers>
</configuration>